In [2]:

import numpy as np
import pandas as pd
import statsmodels.api as sm

In [3]:
df = pd.read_excel('./data/data.xlsx', header=3, index_col=0)
df = df.drop(df.iloc[:, 5:], axis=1)

In [22]:
volume = df.iloc[:, 0]
volume

 №
1     12345.0
2     12091.9
3     12339.7
4     12450.6
5     12832.1
6     12892.1
7     13224.5
8     13449.9
9     13476.8
10    13588.9
11    13600.4
12    13768.5
13    14796.6
14    14424.2
15    14607.3
16    14688.0
17    15057.3
18    15161.0
19    15534.6
20    15544.5
21    15644.4
22    15717.8
Name: Объем денежных накоплений в РФ миллиард руб. (y), dtype: float64

In [23]:
data = df.iloc[:, 1:]
data

,Сводные данные о продаже наличной иностранной валюты кредитными организациями физическим лицам (x1),Курс рубля к доллару США (x2),"Цена нефти марки ""Юралс"" (x3)","Динамика потребительских цен по группам товаров и услуг (месяц к соответствующему месяцу предыдущего года,%) (x4)"
№,,,,
1,2769,29.67,94.2,9.6
2,3065,28.94,101.1,9.5
3,3899,28.43,111.6,9.5
4,3790,27.50,119.7,9.6
5,3963,28.07,112.0,9.6
6,4224,28.08,112.0,9.4
7,4645,27.68,115.3,9.0
8,4914,28.86,109.6,8.2
9,4830,31.88,112.6,7.2
10,4815,29.90,108.7,7.2
11,4401,31.32,110.9,6.8
12,5189,32.20,108.0,6.1
13,3434,30.36,109.8,4.2
14,5195,28.95,119.2,3.7
15,5401,29.33,123.3,3.7
16,4239,29.36,117.8,3.6
17,4558,32.45,109.2,3.6
18,4675,32.82,93.5,4.3
19,6558,32.19,102.7,5.6
20,6253,32.92,113.5,5.9
21,5410,30.92,112.0,6.6
22,5023,31.53,110.8,6.5

In [24]:
data_const = sm.add_constant(data)
data_const

D:\Programming\Python\Econometric\venv\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,const,Сводные данные о продаже наличной иностранной валюты кредитными организациями физическим лицам (x1),Курс рубля к доллару США (x2),"Цена нефти марки ""Юралс"" (x3)","Динамика потребительских цен по группам товаров и услуг (месяц к соответствующему месяцу предыдущего года,%) (x4)"
№,,,,,
1,1.0,2769,29.67,94.2,9.6
2,1.0,3065,28.94,101.1,9.5
3,1.0,3899,28.43,111.6,9.5
4,1.0,3790,27.50,119.7,9.6
5,1.0,3963,28.07,112.0,9.6
6,1.0,4224,28.08,112.0,9.4
7,1.0,4645,27.68,115.3,9.0
8,1.0,4914,28.86,109.6,8.2
9,1.0,4830,31.88,112.6,7.2
10,1.0,4815,29.90,108.7,7.2
11,1.0,4401,31.32,110.9,6.8
12,1.0,5189,32.20,108.0,6.1
13,1.0,3434,30.36,109.8,4.2
14,1.0,5195,28.95,119.2,3.7
15,1.0,5401,29.33,123.3,3.7
16,1.0,4239,29.36,117.8,3.6
17,1.0,4558,32.45,109.2,3.6
18,1.0,4675,32.82,93.5,4.3
19,1.0,6558,32.19,102.7,5.6
20,1.0,6253,32.92,113.5,5.9
21,1.0,5410,30.92,112.0,6.6
22,1.0,5023,31.53,110.8,6.5

In [25]:
model = sm.OLS(volume, data_const).fit()
model.summary()

In [27]:
predictions = model.predict(data_const)
predictions

 №
1     12343.514986
2     12374.592516
3     12643.690185
4     12389.738987
5     12597.514120
6     12780.357693
7     13021.107263
8     13562.979780
9     14172.863264
10    13932.807235
11    14013.890730
12    14722.002032
13    14146.659321
14    14892.235955
15    15014.895808
16    14519.866220
17    15132.487787
18    15145.389888
19    15555.455732
20    15350.269552
21    14498.055974
22    14425.724975
dtype: float64

In [19]:
np.sqrt(model.mse_resid)

586.3207563508021